html, body {
    margin: 0;
    height: 100%;


}

.header {
    position: sticky; top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    z-index: 1000;
    background-color: rgb(255, 255, 255) !important; 
    
}

.navBar a {
    color: black !important;
}

.logo {
    color: black !important;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/my-custom-font.woff2') format('woff2'),
       url('fonts/my-custom-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.profilePic {
    position: relative;
    width: 300px;
    height: 300px;
    background: gray;
    border-radius: 90px;
    top: 100px;
    


}

.profileParagraph, .funfactsOne, .funfactstwo   {
    position: relative;
    display: flex;
    top: 140px;
    width: 700px;
    font-size: 25px;
   font-family: 'Roboto', sans-serif;
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
   text-align: center;
}
.funfactstwo {
    padding-bottom: 100px;
}
.mainProfile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width:600px) {

    .profileParagraph {
    position: relative;
    top: 100px;
    width: 300px;
    font-size: 24px;
    }

    .profilePic {
    position: relative;
    width: 200px;
    height: 200px;
    background: gray;
    border-radius: 70px;
    top: 100px;


}
  
}


.codeLogos {
    position:relative;
    display: flex;
    justify-content: center;
    top: 130px;
    align-items: center;
    width: 340px;
    height: 220px;
}

.recText {
    position: relative;
    top: 150px;
    text-align: center;
}