html, body {
    margin: 0;
    height: 100%;
   overflow: hidden;
  }

.cTitle {
    display: flex;
    justify-content: center;
    font-family: 'Copperplate', 'Copperplate Gothic Light', 'Copperplate Gothic Bold', sans-serif;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
}

.cTitle {
    animation: 2s fade-in ease-in;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.logosRow {
    display: flex;
    justify-content: center;
    gap:50px;
    margin-top: 200px;
    animation: 1s come-from-left ease-in;
}
@keyframes come-from-left {
    from {transform: translatex(30%); opacity: 0;}
    to {transform: translate(0%); opacity: 1;}
}

.logos {
 width: 140px;  /* Force a small size */
  height: auto; 

}



@media (max-width: 728px) {
    .logos {
        width: 60px;
        height: auto;
    }
}
.credit {
    padding-top: 50px;
}