/* Juan Moreno */

body {
    background-color: rgb(0, 12, 38);
}
.backImage {
    animation: fade 5s ease-in;
    
}

@keyframes fade {
    from {opacity: 0.2; }
    to {opacity: 1;}
}


.header {
    transform: translateY(-100%);
}




.Heading h1 {
    font-weight: bolder;
    font-size: 410%;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
   
}
.Heading h2 {
    font-size: 120%;
    
}

.headingText > * {
    margin: 0;
}

.miniHead {
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}

.miniHead::after, .nameHead::after, .fontendText::after {
    content: "|";
    animation: blink 0.9s infinite;
    margin-left: 3px;
}
.header.animate {
    animation: dropDown 1s ease-out forwards;
}

@keyframes dropDown {
    0% {
        transform: translateY(-100%);
    }
    /* 70% {
        transform: translateY(10px);
    }

    85% {
        transform: translateY(-5px);
    }
    95% {
        transform: translateY(5px);
    } */
    100% {
        transform: translateY(0);
    }
}



.typingDone::after {
    animation: none;
    opacity: 0;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }

    51%, 100% {
        opacity: 0;
    }
}

.Heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
    
}


.headingText {
position: absolute;
color: white;
display: flex;
flex-direction: column;
align-items: center;
text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
-webkit-font-smoothing: antialiased;
}

.backImage {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
   

}
