/* Juan Moreno */
.Heading h1 {
    font-weight: bolder;
    font-size: 410%;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
   
}
.Heading h2 {
    font-size: 100%;
    
}

.headingText > * {
    margin: 0;
}

.miniHead {
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}


.Heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
    
}


.headingText {
position: absolute;
color: white;
display: flex;
flex-direction: column;
align-items: center;
text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
-webkit-font-smoothing: antialiased;
}

.backImage {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
   

}
