html, body {
    margin: 0;
    height: 100%;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 50px;
}

.logo {
    text-decoration: none;
    color: black;
    font-family: 'Copperplate', 'Copperplate Gothic Light', 'Copperplate Gothic Bold', sans-serif;
    font-weight: bold;
}

.headingText {
position: absolute;
color: white;
display: flex;
flex-direction: column;
align-items: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
padding-bottom: 230px;
}

.header a:hover {
    color:gray
    }

.Heading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
 
}

.Heading h1 {
    font-weight: bolder;
    font-size: 90px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.Heading h2 {
    font-size: 20px;
    
}

.navBar {
    display: flex;
    gap: 40px
   
}
.navText {
    text-decoration: none;
}



.navBar a {
    text-decoration: none;
    color: black;
    font-family: 'Copperplate', 'Copperplate Gothic Light', 'Copperplate Gothic Bold', sans-serif;
    font-weight: bold;
    
}
